<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.blog.blog.mapper.BlogAdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.person.blog.blog.domain.BlogAdmin">
        <id column="admin_id" property="adminId" />
        <result column="adminname" property="adminname" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
    </resultMap>

</mapper>
